
# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Data
data/raw/*
data/processed/*
data/synthetic/*

# Models
models/*.pkl
models/*.joblib
models/*.bin

# MLflow
mlruns/

# IDE
.vscode/
.idea/

# OS
.DS_Store
